<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- Generates a new 'prototype' or instance everytime -->
<bean id="helloWorld" scope="prototype" class="com.vaasuri.springxml.HelloWorld">
  <property name="messenger" ref="messenger"></property>
</bean>

<!-- Generates a 'singleton' instance -->
<bean id="messenger" scope="singleton" class="com.vaasuri.springxml.Messenger">
  <property name="message" value="Hello World!"></property>
</bean>

</beans>