<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- Generates a new 'prototype' or instance everytime -->
<bean id="helloWorld" scope="prototype" class="com.vaasuri.springxml.HelloWorld" autowire="byType">
</bean>

<!-- Generates a 'singleton' instance -->
<bean id="simple-messenger" scope="singleton" class="com.vaasuri.springxml.SimpleMessenger" primary="false">
  <property name="message" value="Hello World!"></property>
</bean>

<!-- Generates a 'singleton' instance -->
<bean id="fancy-messenger" scope="singleton" class="com.vaasuri.springxml.FancyMessenger" primary="true">
  <property name="message" value="Hello World!"></property>
</bean>

</beans>